body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: #999;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  width: 100%;
  background: #bbb;
}

nav ul {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

aside {
  flex: 1;
  background: #888;
  padding: 20px;
}

section {
  flex: 4;
  padding: 20px;
  background-color: #ccc;
}

main {
  display: flex;
}

footer {
  background-color: #999;
  padding: 10px;
  text-align: center;
  color: white;
}

table.simple {
  border-collapse: collapse;
}

table.simple tbody,tr,th,td {
  border: 1px solid black;
  padding: 5px;
}
